
#update-container{
    width: 100vw;
    height: 100vh;
    display:flex;
    font-family: 'S-CoreDream-3Light';
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* form 태그 */
#pw-update-form{
    display: flex;
}
#pw-update-form>div:nth-child(1){
    width: 2vw;
    height: 7vh;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#password-input{
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 20vw;
    height: 7vh;

}
#password-input:focus{
    outline: none;
}

#submit-btn{
    width: 5vw;
    height: 7vh;
    font-size: 23px;
    background-color: white;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color:#d1edff;
    transition: background-color 0.3s, color 0.3s;
}
#submit-btn:hover{
    background-color: #009dff;
    color: white;

}

