body {
    margin: 0;
    height: 200vh;
}


@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KNUTRUTHTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KNUTRUTHTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GapyeongWave';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/GapyeongWave.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LOTTERIADDAG';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIADDAG.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

nav {
    display: flex;
    width: 100vw;
    height: 8vh;
    background-color: white;
    border-top-left-radius: 100%;
    font-family: 'BMJUA';
    letter-spacing: 1px;
    font-size: 12px;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 2;
    border-bottom: 1px solid #ededed;

}

a {
    text-decoration: none;
}





nav>div:nth-child(1) {
    flex-basis: 12%;
    background-color: white;
    color: #001536;
    font-size: 12px;

}

nav>div:nth-child(1)>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5vh;
    width: 99%;
    color: #001536;
}


#logo {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 30%;
    height: 100%;
    border-radius: 50%;
    transition: border 0.3s;
}

#logo:hover {
    border: 2px solid #ffe7ad;

}

#logo:active {
    border: 2px solid #ffc740;
}


/*ABOUT*/
nav>div:nth-child(2),
nav>div:nth-child(3),
nav>div:nth-child(4),
nav>div:nth-child(5),
nav>div:nth-child(6) {
    flex-basis: 8%;
    background-color: white;
    font-size: 10px;
}

nav>div:nth-child(2)>button,
nav>div:nth-child(3)>button,
nav>div:nth-child(4)>button,
nav>div:nth-child(5)>button,
nav>div:nth-child(6)>button {
    background-color: white;
    width: 90%;
    height: 6.5vh;
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

nav>div:nth-child(2)>button:hover,
nav>div:nth-child(3)>button:hover,
nav>div:nth-child(4)>button:hover,
nav>div:nth-child(5)>button:hover,
nav>div:nth-child(6)>button:hover {
    background-color: #001536;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav>div:nth-child(2)>button:active,
nav>div:nth-child(3)>button:active,
nav>div:nth-child(4)>button:active,
nav>div:nth-child(5)>button:active,
nav>div:nth-child(6)>button:active {
    border-bottom: 1px solid #001536;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav>div:nth-child(7) {
    flex-basis: 6%;
    background-color: white;
}

/* INPUT 태그 */
nav>div:nth-child(8) {
    flex-basis: 10%;
    background-color: white;
}

nav>div:nth-child(8)>form {
    width: 99.5%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
}

nav>div:nth-child(8) input {
    width: 100%;
    height: 68%;
    background-color: #f5f5f5;
    ;
    font-size: 15px;
    border-top-left-radius: 7px;
    border: none;
    transition: background-color 0.3s;
}

nav>div:nth-child(8) input:focus {
    outline: none;
    background-color: #e0f7ff;
}

nav>div:nth-child(9) {
    flex-basis: 4%;
    background-color: white;
    display: flex;
    align-items: center;

}

nav>div:nth-child(9) button {
    width: 100%;
    height: 70%;
    /* font-family: 'BMJUA'; */
    background-color: #f5f5f5;
    border: none;
    font-size: 13px;
    border-bottom-right-radius: 7px;
    transition: background-color 0.3s;
}

nav>div:nth-child(9) button:hover {
    background-color: #e3e3e3;
}

nav>div:nth-child(9) button:active {
    background-color: #d6d6d6;
}


nav>div:nth-child(10) {
    flex-basis: 28%;
    background-color: white;
    display: flex;

}

#sign-in {
    flex-basis: 15%;
    height: 70%;
    background-color: #f5f5f5;
    color: #001536;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border-top-left-radius: 20px;
    transition: background-color 0.3s;
}

#sign-up {
    flex-basis: 15%;
    height: 70%;
    background-color: #f5f5f5;
    color: #001536;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;

    border-bottom-right-radius: 20px;
    transition: background-color 0.3s;


}

#sign-in:hover {
    background-color: #ffdcd4;
}

#sign-up:hover {
    background-color: #97de97;
}


nav div {
    display: flex;
    align-items: center;
    justify-content: center;
}




/* board-btn-dropdown implementation */
.board-btn-dropdown {
    display: none;
    position: absolute;
    top: 7vh;
    width: 8vw;
    height: auto;
}

.board-btn-dropdown-child {
    width: 90%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1000;

}

.board-btn-dropdown-child a {
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-btn-dropdown-child>a:nth-child(1),
.board-btn-dropdown-child>a:nth-child(2) {
    background-color: white;
    color: black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition-duration: 0.5s;

}

.board-btn-dropdown-child>a:nth-child(1):hover,
.board-btn-dropdown-child>a:nth-child(2):hover {
    background-color: #001536;
    color: white;
}

.board-btn-dropdown-child>a:nth-child(2) {
    background-color: white;

}

.board-btn-div:hover .board-btn-dropdown {
    background-color: transparent;
    /* border: 0.3px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    display: flex;
    transition-duration: 1s;

}


/* picture div  */
.picture-div {
    margin: 0;
    padding-top: 8vh;
    width: 100vw;
    height: 60vh;
    /* background-color: red; */
    display: flex;
    z-index: 0;
}

.picture-div>div:nth-child(1) {
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-div>div:nth-child(1)>div:nth-child(1) {
    flex-basis: 7%;
    height: 100%;
    background-color: white;
}

.picture-div>div:nth-child(1)>div:nth-child(2) {
    flex-basis: 93%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: baseline;

}

.picture-div>div:nth-child(1)>div:nth-child(2)>p:nth-child(1) {
    background-color: white;
    margin-top: 5vh;
    margin-left: 5vh;
    font-family: 'TheJamsil5Bold';
    font-size: 10px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 2px;
    opacity: 0.5;


}

.picture-div>div:nth-child(1)>div:nth-child(2)>p:nth-child(2) {
    font-family: 'KNUTRUTHTTF';
    font-size: 27px;
    margin-left: 6vh;
    margin-bottom: 0;
    margin-top: 1vh;


}

.picture-div>div:nth-child(1)>div:nth-child(2)>p:nth-child(3) {
    font-family: 'KNUTRUTHTTF';
    font-size: 30px;
    margin-left: 6vh;
    margin-top: 0;
}

#third-ptag>span:nth-child(1) {
    border-bottom: 1px dotted #7ab8ff;
    border-width: 4px;
}

.picture-div>div:nth-child(1)>div:nth-child(2)>p:nth-child(4) {
    font-family: 'KNUTRUTHTTF';
    font-size: 30px;
    margin-left: 6vh;
    margin-top: 0;
}

.picture-div>div:nth-child(1)>div:nth-child(2)>p:nth-child(5) {
    margin-left: 6vh;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'GapyeongWave';
    font-size: 70px;
    color: #002447;
    height: 150px;

    padding-left: 10px;
    padding-bottom: 0;
    box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.5);
}

.picture-div>div:nth-child(1)>div:nth-child(2)>p:nth-child(6) {
    margin-left: 6vh;
    font-family: 'KNUTRUTHTTF';
    font-size: 30px;
    margin-top: 1vh;

}

#start-for-free {
    font-family: 'TheJamsil5Bold';
    width: 7vw;
    height: 100%;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 2vw;
    transition: background-color 0.5s;
    cursor: pointer;
}

#start-for-free:hover {
    background-color: #ffdcd4;
}

#start-for-free:active {
    background-color: #ffcdc2;
}







.picture-div>div:nth-child(2) {
    width: 50%;
    height: 100%;
    background-image: url(./daniel-zjV8ptYgcEo-unsplash.jpg);
    background-size: cover;
    border-left: 1px solid black;
    opacity: 0.9;
}

/* for horizon */
.for-horizon {
    width: 100vw;
    height: 5vh;
    display: flex;
    margin-bottom: 5vh;
}

.for-horizon>div:nth-child(1) {
    flex-basis: 6%;
}

.for-horizon>div:nth-child(2) {
    flex-basis: 88%;
    border-bottom: 2px solid black;
}

.for-horizon>div:nth-child(3) {
    flex-basis: 6%;
}

/* main-text-container */
#main-text-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#main-text-left-container {
    flex-basis: 40%;

}

#main-text-right-container {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;

}

#main-text-right-container>div:nth-child(1),
#main-text-right-container>div:nth-child(2),
#main-text-right-container>div:nth-child(3) {
    font-family: 'KNUTRUTHTTF';
    font-size: 23px;
}

#main-text-right-container>div:nth-child(4) {
    display: flex;
    flex-basis: 5%;

}


#main-text-right-container>div:nth-child(5),
#main-text-right-container>div:nth-child(6),
#main-text-right-container>div:nth-child(7) {
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;

}