body {
    margin: 0;
    height: 200vh;
}


@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

nav {
    display: flex;
    width: 100vw;
    height: 7vh;
    background-color: #001536;
    border-top-left-radius: 100%;
    font-family: 'BMJUA';
    letter-spacing: 1px;
    font-size: 12px;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 2;

}

a {
    text-decoration: none;
}




nav>div:nth-child(1) {
    flex-basis: 6%;
    background-color: #001536;
    border-top-left-radius: 10%;
}

nav>div:nth-child(2) {
    flex-basis: 6%;
    background-color: #001536;
    color: white;
    font-size: 18px;
}

nav>div:nth-child(2)>a:nth-child(1) {
    display: block;
    height: 5.5vh;
    width: 99%;
    text-align: center;
    line-height: 5.5vh;
    color: white;
}

nav>div:nth-child(2)>a:nth-child(1):hover {
    border: 1px solid white;
    border-radius: 7%;
}

nav>div:nth-child(2)>a:nth-child(1):active {
    border: 1px solid #ffb50a;
    color: #ffb50a;
    transition-duration: 0.3s;
}

nav>div:nth-child(3) {
    flex-basis: 4%;
    background-color: #001536;
    font-size: 7.5px;
}

#project-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    border: 1.5px solid white;
    height: 6.5vh;
    border-radius: 5px;
    width: 95%;

}

/*ABOUT*/
nav>div:nth-child(4),
nav>div:nth-child(5),
nav>div:nth-child(6),
nav>div:nth-child(7),
nav>div:nth-child(8) {
    flex-basis: 8%;
    background-color: #001536;
    font-size: 10px;
}

nav>div:nth-child(4)>button,
nav>div:nth-child(5)>button,
nav>div:nth-child(6)>button,
nav>div:nth-child(7)>button,
nav>div:nth-child(8)>button {
    background-color: #001536;
    width: 90%;
    height: 6.5vh;
    transition: background-color 1s, color 1s, border-radius 1s;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

nav>div:nth-child(4)>button:hover,
nav>div:nth-child(5)>button:hover,
nav>div:nth-child(6)>button:hover,
nav>div:nth-child(7)>button:hover,
nav>div:nth-child(8)>button:hover {
    background-color: white;
    color: #c40007;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav>div:nth-child(4)>button:active,
nav>div:nth-child(5)>button:active,
nav>div:nth-child(6)>button:active,
nav>div:nth-child(7)>button:active,
nav>div:nth-child(8)>button:active {
    border-bottom: 1px solid #001536;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav>div:nth-child(9) {
    flex-basis: 24%;
    background-color: #001536;
}

/* INPUT 태그 */
nav>div:nth-child(10) {
    flex-basis: 10%;
    background-color: #001536;
}

nav>div:nth-child(10)>form {
    width: 99.5%;
    height: 90%;
    background-color: #001536;
    display: flex;
    align-items: center;
}

nav>div:nth-child(10) input {
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: 15px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: none;
}

nav>div:nth-child(10) input:focus {
    outline: none;
}

nav>div:nth-child(11) {
    flex-basis: 4%;
    background-color: #001536;
    display: flex;
    align-items: center;

}

nav>div:nth-child(11) button {
    width: 100%;
    height: 93%;
    /* font-family: 'BMJUA'; */
    background-color: white;
    border: none;
    font-size: 13px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
}

nav>div:nth-child(12) {
    flex-basis: 6%;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* sign-in, sign-up */
#sign-in-up {
    background-color: red;
    display: flex;
    /* font-family: 'BMJUA'; */
    height: 5vh;
    top: 7vh;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

#sign-in {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 1px;
    color: black;
    font-size: 13px;
    transition-duration: 0.5s;
}

#sign-in:hover {
    background-color: #001536;
    color: #ffb50a
}

#sign-up {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 1px;
    color: black;
    font-size: 13px;
    transition-duration: 0.5s;
}

#sign-up:hover {
    background-color: #001536;
    color: #ffb50a
}


/* board-btn-dropdown implementation */
.board-btn-dropdown {
    display: none;
    position: absolute;
    top: 7vh;
    width: 8vw;
    height: auto;
}

.board-btn-dropdown-child {
    width: 90%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1000;

}

.board-btn-dropdown-child a {
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-btn-dropdown-child>a:nth-child(1),
.board-btn-dropdown-child>a:nth-child(2) {
    background-color: white;
    color: black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition-duration: 0.5s;

}

.board-btn-dropdown-child>a:nth-child(1):hover,
.board-btn-dropdown-child>a:nth-child(2):hover {
    background-color: #001536;
    color: white;
}

.board-btn-dropdown-child>a:nth-child(2) {
    background-color: white;

}

.board-btn-div:hover .board-btn-dropdown {
    background-color: transparent;
    /* border: 0.3px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    display: flex;
    transition-duration: 1s;

}


/* picture div  */
.picture-div {
    margin: 0;
    padding-top: 12vh;
    width: 100vw;
    height: 30vh;
    background-color: red;
    display: flex;
    z-index: 0;
}

.picture-div>div:nth-child(2) {
    width: 50%;
    height: 100%;
    background-image: url(./jacob-bentzinger-QiLPQeQSXD0-unsplash.jpg);
    background-size: cover;
    opacity: 0.9;
}

.picture-div>div:nth-child(1) {
    width: 50%;
    height: 100%;
    background-color: #000d21;
}