#full-container{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
        font-family: 'S-CoreDream-3Light';

}
#order-sheet-container{
    width: 70%;
    height: 80%;
    display: flex;
}
#left-container{
    flex-basis: 70%;
    padding-left: 100px;
    padding-top : 30px;

    display:flex;
    flex-direction : column;
}
#page-title{
    flex-basis: 5%;
    font-size : 24px;
    border-bottom: 0.1px solid gray;
}
#buyer-info-title{
    font-size: 18px;
    padding-top: 20px;
}
#buyer-info-container{
    flex-basis : 90%;
    display:flex;
    flex-direction: column;
    padding-top : 10px;
}
/*---------------------1------------------------*/
#buyer-info-first{
    flex-basis: 5%;
    display:flex;
    border-top: 0.5px solid gray;
}
/* 이름 : */
#buyer-info-first > span:nth-child(1){
    font-size: 12px;
    flex-basis: 20%;
    height: 30px;
    background-color: lightgray;
    display:flex;
    justify-content: center;
    align-items: center;
}
#buyer-info-first > input:nth-child(2){
    font-size: 12px;
    flex-basis: 80%;
    width: 70%;
    border : 1px solid lightgray;
    padding-left: 10px;
}
/*-----------------------2-----------------------*/
#buyer-info-second{
    flex-basis: 5%;
    display:flex;
}
#buyer-info-second > span:nth-child(1){
    font-size: 12px;
    flex-basis: 20%;
    height: 30px;
    background-color: lightgray;
    display:flex;
    justify-content: center;
    align-items: center;
}
#buyer-info-second > span:nth-child(2){
    font-size: 12px;
    flex-basis: 80%;
    width: 70%;
    border : 1px solid lightgray;
    padding-left: 10px;
    display:flex;
    align-items: center;
}
/*-----------------------3--------------------------*/
#buyer-info-third{
    padding-top : 10px;
    flex-basis: 5%;
    display:flex;
    margin-bottom : 15px;
}
#buyer-info-third > span:nth-child(1){
    font-size: 12px;
    flex-basis: 20%;
    height: 30px;
    background-color: lightgray;
    display:flex;
    justify-content: center;
    align-items: center;
}
#buyer-info-third > input:nth-child(2){
    margin-left: 20px;
    font-size: 12px;
    width: 10%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
#buyer-info-third > input:nth-child(3){
    margin-left: 5px;
    font-size: 12px;
    width: 10%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
#buyer-info-third > input:nth-child(4){
    margin-left: 5px;
    font-size: 12px;
    width: 10%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
/*-------------------4----------------------*/
#buyer-info-fourth{
    flex-basis: 5%;
    display:flex;
}
#buyer-info-fourth > input:nth-child(1){
    width : 19.7%;
    height: 100%;
    border: 0.1px solid gray;
    font-size: 13px;
    background-color: white;
    transition: background-color 0.3s;
    cursor: pointer;
}
#buyer-info-fourth > input:nth-child(1):hover{
    background-color: #ffd4c2;
}


/*----------------------5----------------------*/
#buyer-info-fifth{
    flex-basis: 5%;
    display:flex;
    border-top: 1px solid lightgray;
}
#buyer-info-fifth>span:nth-child(1){
    font-size: 12px;
    flex-basis: 20%;
    background-color : lightgray;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#buyer-info-fifth>input:nth-child(2){
    padding-left: 10px;
    flex-basis: 80%;
    border: 0.1px solid lightgray;
    height: 97%;

}

/*------------------6,7,8,9---------------------------*/
#buyer-info-sixth, #buyer-info-seventh, #buyer-info-eightth,
#buyer-info-nineth{
    flex-basis: 5%;
    display:flex;
}
#buyer-info-sixth>span:nth-child(1), #buyer-info-seventh>span:nth-child(1)
,#buyer-info-eightth>span:nth-child(1),#buyer-info-nineth>span:nth-child(1){
    font-size: 12px;
    flex-basis: 20%;
    background-color : lightgray;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%:
    border-top: 1px solid white;
}
#buyer-info-sixth>input:nth-child(2), #buyer-info-seventh>input:nth-child(2),
#buyer-info-eightth>input:nth-child(2), #buyer-info-nineth>input:nth-child(2){
        padding-left: 10px;

    flex-basis: 80%;
    border: none;
    border-top: 0.1px solid lightgray;
    border-right: 0.1px solid lightgray;
    height: 85%;
}

#buyer-info-nineth>input:nth-child(2){
    border-bottom: 0.1px solid lightgray;
}

#product-info-title{
    font-size: 18px;
    padding-top: 20px;
}
#product-info-first, #pay-info-container{
    display:flex;
}
#product-info-first>span:nth-child(1),
#pay-info-container>span:nth-child(1){
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:13px;
    background-color : lightgray;
    border-top: 1px solid lightgray;

}
#product-info-first>input:nth-child(2),
#pay-info-container>input:nth-child(2){
    flex-basis: 80%;
        font-size:13px;
    padding-left :10px;
    border: none;
    border-top: 1px solid lightgray;
    border-right: 0.1px solid lightgray;
    border-bottom: 0.1px solid lightgray;

}


#pay-info-title{
    padding-top: 20px;
    font-size: 18px;
}
.can-write{
    background-color : #ffd4c2;
}



#middle-container{
    flex-basis: 5%;
    background-color: transparent;
}
#right-container{
    flex-basis: 25%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#pay-btn{
    margin-top: 60px;
    flex-basis: 12%;
    width: 100%;
    font-size: 20px;
    cursor:pointer;
    border: none;
    border-radius: 5px;
    background-color:#4fa4ff;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}
#pay-btn:hover{
    background-color: white;
    color : #4fa4ff;
    border: 1px solid #4fa4ff;

}


