<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="firstportfolio.wordcharger.repository.AddressMapper">

    <insert id="insertAddress">
        INSERT INTO address
        (ID, MEMBER_ID, ZIP_CODE, STREET_ADDRESS, ADDRESS, DETAIL_ADDRESS, REFERENCE_ITEM )
        VALUES (MEMBER_SEQUENCE.NEXTVAL,#{memberId},#{zipCode},#{streetAddress},#{address},#{detailAddress},#{referenceItem})
    </insert>



</mapper>