<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="firstportfolio.wordcharger.repository.CommentsMapper">

    <select id="findCommentsByPostId" resultType="CommentDTO">
        SELECT comments.*, member.user_id
        FROM comments
        INNER JOIN member ON comments.member_id = member.id
        WHERE comments.post_id = #{postId}
        AND comments.delete_comment_fl = 'N'
        ORDER BY comments.create_date ASC
    </select>

    <insert id="insertComment">
        INSERT INTO comments
        (id, post_id, member_id, content, create_date, parent_comment_id, delete_comment_fl)
        VALUES (COMMENT_SEQUENCE.NEXTVAL, #{postId}, #{memberId}, #{content}, #{now}, NULL, 'N')
    </insert>

    <insert id="insertComment2">
        INSERT INTO comments
            (id, post_id, member_id, content, create_date, parent_comment_id, delete_comment_fl)
        VALUES (COMMENT_SEQUENCE.NEXTVAL, #{postId}, #{memberId}, #{content}, #{now}, #{parentCommentId}, 'N')
    </insert>

    <select id="findPostIdByMemberId" resultType="Integer">
        SELECT post_id FROM comments
        WHERE member_id = #{memberId}
        AND DELETE_COMMENT_FL = 'N'
    </select>

    <update id="updateContent">
        UPDATE comments
        SET content = #{content}
        WHERE id = #{id}
        AND DELETE_COMMENT_FL = 'N'
    </update>

    <update id="updateDeleteFlag">
        UPDATE comments
        SET delete_comment_fl = 'Y'
        WHERE id = #{id}
    </update>




</mapper>