<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="firstportfolio.wordcharger.repository.CountMapper">


    <select id="findRowById" resultType="CountDTO">
        SELECT * FROM count WHERE id = #{id}
    </select>

    <insert id="CountInit">
        INSERT INTO count VALUES (#{id},null,null,null,null,null,null,null,null,null,null,null)
    </insert>

    <insert id="uploadFixedDayToCount">
        UPDATE count SET ${columnName} = ${columnName} || ',' || #{value} WHERE id = #{id}
    </insert>

    <select id="findTodayColumnById" resultType="String">
        SELECT today FROM count WHERE id = #{id}
    </select>

    <update id="deletePulledVoca">
        UPDATE count
        SET today = REPLACE(today, CONCAT(',',#{firstVoca}), '') WHERE id = #{id}
    </update>

    <update id="todayColumnCharger">
        UPDATE count SET
        today = today || one
    </update>

    <update id="columnShiftUpdate">
        UPDATE count SET
        ONE = TWO,
        TWO = THREE,
        THREE = FOUR,
        FOUR = FIVE,
        FIVE = SIX,
        SIX = SEVEN,
        SEVEN = EIGHT,
        EIGHT = NINE,
        NINE = TEN,
        TEN = NULL
    </update>



</mapper>