<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="firstportfolio.wordcharger.repository.FixedDayMapper">

    <insert id="fixedDayInit">
        INSERT INTO fixedday VALUES (#{id}, 0, 0, 0)
    </insert>

    <select id="findFixedDayByIdAndColumn" resultType="Integer">
        SELECT ${columnName} FROM fixedday WHERE id = #{id}
    </select>

    <update id="plusOneDay">
        UPDATE fixedday
        SET ${ColumnName} = ${ColumnName} + 1
        WHERE id = #{id}
    </update>

</mapper>