<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="firstportfolio.wordcharger.repository.IncludeMapper">

    <insert id="includeInit">
        INSERT INTO include VALUES (#{id}, 'false','false','false')
    </insert>

    <select id="findRowById" resultType="IncludeDTO">
        SELECT * FROM include WHERE id = #{id}
    </select>

    <update id="updateToTrue" >
        UPDATE include SET ${falseFieldName} = 'true' WHERE id = #{id}
    </update>

    <update id="updateToFalse">
        UPDATE include SET ${firstVoca} = 'false' WHERE id = #{id}
    </update>
</mapper>