<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="firstportfolio.wordcharger.repository.MemberMapper">


    <select id="findMemberById" resultType="MemberJoinDTO">
        SELECT * FROM member WHERE USER_ID = #{userId}
    </select>

    <select id="findUserIdById" resultType="String">
        SELECT user_id FROM member WHERE id = #{id}
    </select>

    <insert id="insertMember">
        INSERT INTO member

        (ID, USER_ID, PASSWORD, USER_NAME)
        VALUES (MEMBER_SEQUENCE.NEXTVAL,#{id},#{password},#{userName})
    </insert>

    <!--시퀀스의 다음값 얻어오기-->
    <select id="selectNextSequenceValue" resultType="Integer">
        SELECT MEMBER_SEQUENCE.NEXTVAL FROM DUAL
    </select>

    <insert id="insertMemberNaverVersion">
        INSERT INTO member

        (ID, USER_ID, PASSWORD, USER_NAME)
        VALUES (#{sequence}, #{id}, #{password}, #{userName})
    </insert>




</mapper>