<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="firstportfolio.wordcharger.repository.MemberMapper">


    <select id="findMemberById" resultType="MemberDTO">
        SELECT * FROM member WHERE id = #{id}
    </select>

    <insert id="insertMember">
        INSERT INTO member
        (id, password, user_name, phone_number_start, phone_number_middle, phone_number_end, zip_code, street_address, address, detail_address, reference_item, my_checkbox_1, my_checkbox_2, my_checkbox_3)
        VALUES (#{id},#{password},#{userName},#{phoneNumberStart},#{phoneNumberMiddle}, #{phoneNumberEnd},#{zipCode}, #{streetAddress}, #{address}, #{detailAddress}, #{referenceItem}, #{myCheckbox1}, #{myCheckbox2}, #{myCheckbox3})
    </insert>



</mapper>