<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="firstportfolio.wordcharger.repository.PhoneMapper">

    <insert id="insertPhone">
        INSERT INTO phone
        (ID, MEMBER_ID, PHONE_NUM_START, PHONE_NUM_MIDDLE, PHONE_NUM_END )
        VALUES (MEMBER_SEQUENCE.NEXTVAL,#{memberId},#{phoneNumStart},#{phoneNumMiddle},#{phoneNumEnd})
    </insert>

    <update id="updatePhone">
        UPDATE phone
        SET phone_num_start = #{phoneNumStart},
        phone_num_middle = #{phoneNumMiddle},
        phone_num_end = #{phoneNumEnd}
        WHERE member_id = #{memberId}
    </update>



</mapper>