<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="firstportfolio.wordcharger.repository.PostPasswordMapper">

    <insert id="insertPostPassword">
        INSERT INTO post_password (id, post_id, post_password)
        values (POSTS_PASSWORD_SEQUENCE.NEXTVAL, #{postId}, #{postPassword})
    </insert>

</mapper>