<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="firstportfolio.wordcharger.repository.PostPasswordMapper">

    <insert id="insertPostPassword">
        INSERT INTO post_password (id, post_id, post_password)
        values (POSTS_PASSWORD_SEQUENCE.NEXTVAL, #{postId}, #{postPassword})
    </insert>

    <select id="findRow" resultType="PostPasswordDTO">
        SELECT * FROM post_password
        WHERE post_id = #{postId}
    </select>

    <update id="updatePostPassword">
        UPDATE post_password SET
        post_password = #{postPassword}
    </update>

</mapper>