<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="firstportfolio.wordcharger.repository.PostsMapper">

    <select id="findAllPostsCount" resultType="Integer">
        SELECT COUNT(*) FROM POSTS
    </select>

    <select id="findCurrentPagePosts" resultType="PostsDTO">
        SELECT posts.*, post_view.view_number
        FROM posts
        LEFT OUTER JOIN post_view ON posts.id = post_view.post_id
        ORDER BY posts.id DESC
        OFFSET #{startRow} ROWS
        FETCH NEXT #{pageSize} ROWS ONLY
    </select>

    <insert id="insertPost">
        INSERT INTO posts (id, member_id, title, is_private, writing_date, content)
        values (POSTS_SEQUENCE.NEXTVAL, #{memberId}, #{title}, #{isPrivate}, SYSDATE, #{content})
    </insert>

    <select id="selectPostByMemberIdAndTitle" resultType="Integer">
        SELECT id FROM posts
        WHERE member_id = #{memberId} AND title = #{title}
    </select>

    <select id="findPostById" resultType="PostsDTO">
        SELECT * FROM posts
        WHERE id = #{postId}
    </select>

    <select id="findPostByMemberId" resultType="PostsDTO">
        SELECT * FROM posts
        WHERE member_id = #{memberId}
    </select>

    <select id="findPostByTitle" resultType="PostsDTO">
        SELECT * FROM posts
        WHERE title = #{hintToFind}
    </select>

    <select id="findPostByContent" resultType="PostsDTO">
        SELECT * FROM posts
        WHERE content LIKE #{hintToFind}
    </select>






</mapper>