<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="firstportfolio.wordcharger.repository.UserCommentMapper">

   <insert id="insertComment" >
       INSERT INTO user_comment
       VALUES (#{writingNum},#{id},#{content})
   </insert>

    <select id="findCommentByWritingNum" resultType="CommentDTO">
        SELECT * FROM
        (SELECT * FROM user_comment WHERE writing_num = #{writingNum} )
        OFFSET #{startRow} ROWS
        FETCH NEXT #{numberPerPage} ROWS ONLY
    </select>

    <select id="allCommentCount" resultType="Integer">
        SELECT COUNT(*) FROM user_comment
        WHERE writing_num = #{writingNum}
    </select>


</mapper>