<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="firstportfolio.wordcharger.repository.WritingMapper">

    <delete id="deleteAll">
        DELETE FROM writing_data
    </delete>

    <insert id="init">
        INSERT INTO writing_data
        VALUES (writing_sequence.NEXTVAL, #{i}, 'wowns590', 0, null, SYSDATE, #{i}, 0, 0)
    </insert>


    <insert id="insertWriting">
        INSERT INTO writing_data
        VALUES (writing_sequence.NEXTVAL, #{title}, #{userId}, #{isPrivate}, #{writingPassword}, SYSDATE, #{content}, 0, 0)
    </insert>


    <select id="countAllWriting" resultType="Integer">
        SELECT COUNT(*) FROM writing_data
    </select>

    
    <select id="findCurrentPageWritings" resultType="WritingDTOSelectVersion">
        SELECT * FROM writing_data
        ORDER BY writing_num DESC
        OFFSET #{startRow} ROWS
        FETCH NEXT #{pageSize} ROWS ONLY
    </select>

    <select id="findWritingByTitle" resultType="Integer">
        SELECT COUNT(*) FROM writing_data
        WHERE title LIKE #{hintToFind}
    </select>

    <select id="findCurrentPageWritingsByTitle" resultType="WritingDTOSelectVersion">
        SELECT * FROM
        (SELECT * FROM writing_data WHERE title LIKE #{title} )
        OFFSET #{startRow} ROWS
        FETCH NEXT #{pageSize} ROWS ONLY
    </select>


    <select id="findWritingByWriter" resultType="Integer">
        SELECT COUNT(*) FROM writing_data
        WHERE user_id LIKE #{hintToFind}
    </select>

    <select id="findCurrentPageWritingsByWriter" resultType="WritingDTOSelectVersion">
        SELECT * FROM
        (SELECT * FROM writing_data WHERE user_id LIKE #{writer} )
        OFFSET #{startRow} ROWS
        FETCH NEXT #{pageSize} ROWS ONLY
    </select>

    <select id="findWritingByContent" resultType="Integer">
        SELECT COUNT(*) FROM writing_data
        WHERE content LIKE #{hintToFind}
    </select>

    <select id="findCurrentPageWritingsByContent" resultType="WritingDTOSelectVersion">
        SELECT * FROM
        (SELECT * FROM writing_data WHERE content LIKE #{content} )
        OFFSET #{startRow} ROWS
        FETCH NEXT #{pageSize} ROWS ONLY
    </select>

    <select id="findWritingByWritingNum" resultType="WritingDTOSelectVersion">
        SELECT * FROM writing_data
        WHERE writing_num = #{writingNum}
    </select>




</mapper>