<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="firstportfolio.wordcharger.repository.WritingMapper">

    <delete id="init">
        DELETE FROM writing_data
    </delete>


    <insert id="insertWriting">
        INSERT INTO writing_data
        VALUES (writing_sequence.NEXTVAL, #{title}, #{userId}, #{isPrivate}, #{writingPassword}, SYSDATE, #{content}, 0, 0)
    </insert>


    <select id="countAllWriting" resultType="Integer">
        SELECT COUNT(*) FROM writing_data
    </select>

    
    <select id="findCurrentPageWritings" resultType="WritingDTOSelectVersion">
        SELECT * FROM writing_data
        ORDER BY writing_num ASC
        OFFSET #{startRow}*10 ROWS
        FETCH NEXT 10 ROWS ONLY
    </select>
    



</mapper>